<!-- PARCOURS ITERATIF -->
{% for item in array %}
    <!-- on traite chaque item du tableau -->
    {{ item }}
{% else %}
  <!-- traitement alternatif -->
{% endfor %}

<!-- TEST CONDITIONNEL -->
{% if content %}
  <!-- on traite chaque item du tableau -->
  {{ content }}
{% else %}
  <!-- traitement alternatif -->
{% endif %}

<!-- TEST CONDITIONNEL -->
{% if content.something == '' %}
  <!-- on traite chaque item du tableau -->
  {{ content }}
{% else %}
  <!-- traitement alternatif -->
{% endif %}

<!-- UTILISATION DE VARIABLES -->
{% set var = 'something' %}
{{ var }}
<!-- UTILISATION DE VARIABLES -->
{% set var = content.something and content.something2 ? 'valeur 1' : 'valeur' %}
{{ var }}



<!-- utilisation de fonction -->
<img src="{{ file_url(file_uri) }}" >
